

*{
    box-sizing: border-box;
}
:root{
    --primery-color:#22254b;
    --secondery-color:#373b69;
}
body{
    font-family: 'Poppins';
    margin:0;
    background-color: var(--secondery-color);
}

header{
    padding: 1rem;
    display:flex;
    justify-content: flex-end;
}
#saerch {
    background-color: transparent;
    border:1px solid var(--primery-color);
    border-radius: 50px;
    color:#fff;
}
#search:active{
    border: 0;
}
#search::placeholder{
    outline: none;
    background-color: var(--primery-color);
}
main {
    display: flex;
    flex-wrap: wrap;
}
.movie {
    width: 300px;
    margin:1rem;
    background-color: var(--secondery-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.27);
    position: relative;
    overflow: hidden;
    border-radius: 3pxx;
}
.movie img {
    width: 100%;
}
.movie-info {
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
}

.movie-info h3 {
    margin-top: 0;
}
.movie-info span {
    background-color: var(--primery-color);
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}
.movie-info span.green{
    color: lightgreen;
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: red;
}
.overview{
    background-color: #eee;
    padding: 2rem;
    position: absolute;
    left:0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease;
}
.movie:hover .overview{
    transform: translateY(0);
}