*{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgb(196, 211, 255);
}

.panel-container {
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 400px;
}

.panel-container strong {
    line-height: 20px;
}
.raiting-container {
    display: flex;
    margin:20px 0;
}
.raiting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    margin: 10px 5px;
}

.raiting:hover, 
.raiting.active {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.raiting img {
    width: 40px;
}
.raiting small {
    color: #555;
    display: inline-block;
    margin: 10px 0 0 ;

}

.raiting:hover small, 
.raiting.active small {
    color: #111;
}
.btn {
    background-color: #302d2b;
    color: #fff;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
}


.btn:focus {
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}
.fa-heart {
    color: red;
    font-size: 30px;
    margin-bottom: 10px;
}